{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier", "simple-import-sort"],
    "parser": "@typescript-eslint/parser",
    "env": {
        "jest": true,
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/array-type": ["error", { "default": "array" }],
        "@typescript-eslint/no-explicit-any": "off",
        "react/prop-types": "off",
        "simple-import-sort/sort": [
            "error",
            {
                "groups": [
                    ["^react", "^@?\\w"],
                    ["^(@|@company|@ui|components|utils|config|vendored-lib)(/.*|$)"],
                    ["^\\u0000"],
                    ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
                    ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
                    ["^.+\\.s?css$"]
                ]
            }
        ]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
