name: Build

on:
  workflow_call:

jobs:
  frontend-build:
    name: Build Frontend
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/frontend-setup

      - name: Build
        run: npm run build

      - name: Upload Build Artifact
        if: success() && startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: dist
          retention-days: 1
