name: Unit Test

on:
  workflow_call:

jobs:
  test:
    name: Lint & Unit Test Frontend
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20.x
          - 22.x
          - 24.x
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      WORKSPACE: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v6

      - name: Job setup
        uses: ./.github/actions/frontend-setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run linter
        run: npm run lint

      - name: Unit Tests
        run: npm test

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          fail-on-error: false

  finish:
    needs: test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Close parallel build
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          fail-on-error: false
